@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sansita:wght@400;700&family=Sarala:wght@400;700&display=swap');

$font-1: 'Righteous', sans-serif;
$font-2: 'Sansita', sans-serif;
$font-3: 'Sarala', sans-serif;

$color-1: #f5f5f5;
$color-2: #011627;
$color-3: #07a0c3;
$color-4: #dd1c1a;

@mixin texture-1 {
    background-color: $color-1;
    background-image: radial-gradient(#000000 0.75px, $color-1 0.75px);
    background-size: 15px 15px;
}

@mixin header {
    font-family: $font-1;
    font-size: 4.5rem;
    color: $color-2;
}

@mixin title-1 {
    font-family: $font-2;
    margin: 0 2rem;
    font-size: 3rem;
    color: $color-2;
}

@mixin title-2 {
    font-family: $font-3;
    font-size: 2rem;
    font-weight: bold;
    color: $color-2;
}

@mixin body-highlight($size) {
    font-family: $font-3;
    font-size: $size;
    font-weight: bold;
    color: $color-4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    @include texture-1;
    font-family: $font-3;
    font-size: 1.5rem;
    color: $color-2;
}

h1 {
    @include header;
    text-align: center;
}

h2 {
    @include title-1;
    position: relative;
    margin: 56px 1.5rem;
    text-align: center;


    &::after {
        content: '';
        height: 8px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
    }
}

h3 {
    @include title-2;
}

strong {
    @include body-highlight(1.5rem);
}

a,
a:visited {
    text-decoration: none;
    color: $color-2;
}

button {
    @include body-highlight(1.5rem);
    cursor: pointer;
    color: $color-1;
    background-color: $color-4;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
    padding: 8px 48px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;

    @media screen and (max-width: 470px) {
        font-size: 4vw;
    }
}

button:hover {
    background-color: $color-1;
    color: $color-4;
    border: 2px solid #dd1c1a;
    transform: scale(1.02);
}
